nav {
  margin-top: 100px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-transform: uppercase;
  color: #555;
  font-weight: 600;
  padding: 0 20px;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
  }
  .nav-link {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .nav-link:last-child {
    border-bottom: none;
  }
}
