/* Footer */
footer {
  background: linear-gradient(to bottom, #FFC371, #FF5F6D);
  color: #fff;
  font-size: 12px;
  padding: 25px 0;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

.site-logo {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  margin: 0 20px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #d1d1d1;
}

/* Center the footer content */
.text-center {
  text-align: center;
}

/* Remove default list styling */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Add padding to the list items */
.nav li {
  display: inline-block;
}

/* Add a border to the active/current link */
.nav .active {
  border-bottom: 2px solid #fff;
}

/* Copyright */
.mb-2 {
  margin-top: 30px;
}
