<div class="postcard">
  <div class="postcard__image">
    <img src="https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Postcard Image">
  </div>
  <div class="postcard__content">
    <div class="features d-flex justify-content-around">
      <small class="bg-light text-danger text-center">Design</small>
      <small class="bg-light text-success text-center ml-3">Featured</small>
      <small class="bg-light text-info text-center ml-3">Views - 100,300</small>
    </div>
    <h5 class="postcard__title">Greetings from [Your Destination]</h5>
    <p class="postcard__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis semper urna.
      Proin dictum purus vel ante rutrum dignissim. Nulla facilisi. Nam faucibus feugiat nibh, ac luctus velit luctus
      eu. Quisque id lorem id sapien imperdiet congue vitae et enim. Sed eleifend lacinia velit, sed elementum erat</p>
    <p class="postcard__signature">From [Your Name]</p>
  </div>
</div>